body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header{
    height: 16em;
    max-width: 250px;
    background-color: grey;
    border-radius: 0 2em 5em 0;
}
.header_h1{
    font-size: 1.5em;
    margin: 0;
    padding: .6em;
}
.header_img{
    width: 120px;
    height: 120px;
    border-radius: 65px;
    margin-left: 60px;
}
.header_ul{
    display: flex;
}
.header_li{
    list-style:  none;
    margin: .4em 1.1em 0 1.1em;
}
a:link, a:active, a:visited{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
